/* SECTION 1 */
.home-page .section1-container {
  background: url("https://ng.cash/_nuxt/img/banner-landing-page.0bd7f55.jpg");
  height: 88vh;
  color: white;
}

.home-page .section1-container .section1-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .section1-container .section1-row .col-right {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .section1-container .section1-row .col-right img {
  width: 900px;
}

.home-page .section1-container .section1-row .col-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
}

.home-page .section1-container .section1-row .col-left h1 {
  margin-top: 20%;
  margin-bottom: 20%;
}

.home-page .section1-container .section1-row .col-left h3 {
  margin-bottom: 5%;
}

.home-page .section1-container .section1-row .col-left .section1-transfer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page
  .section1-container
  .section1-row
  .col-left
  .section1-transfer
  .section1-transfer-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-page
  .section1-container
  .section1-row
  .col-left
  .section1-transfer
  .section1-transfer-row
  input {
  width: 120px !important;
}

.home-page
  .section1-container
  .section1-row
  .col-left
  .section1-transfer
  .section1-transfer-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page
  .section1-container
  .section1-row
  .col-left
  .section1-transfer
  button {
  background-color: white;
  color: black !important;
  font-size: 1.25rem;
  width: 30%;
  margin-top: 5%;
}
/* /SECTION 1 */

/* SECTION 2 */
.home-page .section2-container {
  background-color: white;
  color: black !important;
  min-height: 100vh;
}

.home-page .section2-container h1 {
  color: #3c1c7e;
  margin: 0px;
}

.home-page .section2-container .transactions-table {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page .section2-container .transactions-table form {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.home-page .section2-container .transactions-table form label {
  font-size: 1.2rem;
}

.home-page .section2-container .transactions-table form select {
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px;
}

.home-page .section2-container .transactions-table form button {
  background-color: black;
  color: white;
}

.home-page .section2-container .transactions-table table {
  font-size: 1.2rem;
  color: black !important;
  margin-bottom: 25vh;
}

.home-page .copyright {
  text-align: center;
  height: 5vh;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /SECTION 2 */

/* MEDIA QUERY*/
@media only screen and (max-width: 992px) {
  .home-page .section1-container .section1-row .col-right img {
    width: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .home-page .section1-container .section1-row .col-right img {
    width: 420px;
  }

  .home-page .section1-container .section1-row .col-right {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .home-page .section1-container .section1-row .col-right {
    display: none;
  }

  .home-page .section1-container .section1-row .col-left {
    width: 100%;
    margin-top: 10vh;
  }
}

@media only screen and (max-width: 414px) {
  .home-page .section2-container .transactions-table table {
    font-size: 16px;
  }
}
