.register-page {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-page .register-container {
  background-color: lightgray;
  width: 400px;
  border-radius: 3%;
  padding: 20px;
}

.register-page .register-container h1 {
  color: black;
  text-align: center;

}

.register-page .register-container form {
  color: black;
}

.register-page .register-container form button {
  color: white;
  background-color: black;
  padding: 10px;
}

.register-page .register-container form .register-buttons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}